body {
    background: linear-gradient(to right, rgb(246, 61, 61),rgb(249, 244, 244),rgb(64, 129, 234));
    font-family: 'Times New Roman';
    margin: 2;
}
.nav {
    background-color: lightgreen;
    font-family: 'Times New Roman';
    font-size: x-large;
    border-style: dashed;
    border-width: 2px;
    padding: 0;
    display: flex;
a {
    text-decoration: none;
    margin: 50;
    padding-right: 100px;
}
a:hover{
    color: orange;
}
}

.resume {
    display: grid;
    place-items: center;
    width: 90%;
    padding: 60px;

#me {
    margin: auto; 
    display: block;
    width: 200px;
    height: 275px;
    border-radius: 50%;
}

#same {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background:fixed;
    padding: 20px;
    margin: 40px;
    border-radius: 10%;
    box-shadow: 20px 0 0 0 grey;
}
#table {
    width: 30%;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
    display: inline-table;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 20px 0 0 0 grey;
}
}
.pics {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
#box {
    display:block; 
    justify-content: center;
    padding: 10px;
    gap: 3px;
    margin:120px;
    background-color: rgb(86, 170, 219);
    border-radius: 10%;
}
}
#pic {
    background:fixed;
    max-height: 200px;
    max-width: 140px;
}
#pic:hover{
    transform: scale(1.1) rotate(3deg);
    box-shadow: 20px 10px 25px;
}
